.image {
    width: 150px;
    height: auto;
}

#targetNumber, #userNumber, #lose, #wins {

    font-size: 30px;

}
#lose {
    color: crimson;
}

#wins {
    color: forestgreen;
}

.container {

    display: none;
}

.instructions {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.instructions p {
    font-size: 20px;
}
